.abilities {
    position: relative;
    z-index: 5;
    padding: 60px 0;
    background-color: var(--color-bg-secondary);
    h3 {
        color: var(--color-primary-light);
    }

    ul {
        margin: 20px 0;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.4s $ease-out-expo;
        &:hover {
            scale: 105%;
        }
    }
    .icon {
        width: 24px;
        height: 24px;
        fill: var(--color-white);
    }
}
