.abilities {
    padding: 60px 0;
    background-color: var(--color-bg-secondary);
    h3 {
        color: var(--color-primary);
    }

    ul {
        margin: 20px 0;
        padding-left: 20px;
    }
}
