.background {
    user-select: none;
    position: relative;
    z-index: 1;
}

.background-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
}
.index {
    &.background-container {
        top: 820px;
        left: 0;
    }
}

.list-bg {
    &.background-container {
        height: 200%;
        top: 120px;
        left: 0;
    }
}

.list-bg-dark {
    &.background-container {
        height: 200%;
        top: 1300px;
        right: 0;
    }
}

.project {
    &.background-container {
        height: 200%;
        top: 700px;
        right: 0;
    }
}

.about {
    &.background-container {
        height: 200%;
        top: 120px;
        right: 0;
    }
}
