.background {
    user-select: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.background-container {
    position: absolute;
    overflow: hidden;
    height: fit-content;
    @media screen and (max-width: $breakpoint-lg) {
        width: 50%;
    }
}
.index {
    &.background-container {
        height: 60%;
        top: 820px;
        left: 0;
    }
}

.list-bg {
    &.background-container {
        top: 120px;
        left: 0;
    }
}

.list-bg-dark {
    &.background-container {
        top: 1300px;
        right: 0;
    }
}

.project {
    &.background-container {
        top: 700px;
        right: 0;
    }
}

.about {
    &.background-container {
        top: 120px;
        right: 0;
        @media screen and (max-width: $breakpoint-lg) {
            top: 500px;
        }
        @media screen and (max-width: $breakpoint-sm) {
            display: none;
        }
    }
}
