.hero {
    position: relative;
    height: 850px;
    &.hero-small {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        height: 500px;
        .button {
            width: fit-content;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
    img {
        width: 100%;
        height: 850px;
        object-fit: cover;
        z-index: -100;
        position: absolute;
    }
    &.hero-small img {
        height: 500px;
    }
    .wrapper {
        .content {
            position: relative;
            z-index: 5;
            color: var(--color-white);
            height: calc(850px - 40px);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: 35px;
            .button {
                width: fit-content;
            }
        }
    }
}

.about-hero {
    position: relative;
    height: 850px;
    .wrapper {
        height: 850px;
    }
    .content {
        z-index: 5;
        position: relative;
        display: flex;
        flex-direction: column;
        left: 520px;
        bottom: 890px;
        width: fit-content;
        height: 890px;
        justify-content: flex-end;
        padding-bottom: 20px;
        @media screen and (max-width: $breakpoint-lg) {
            left: 0;
            bottom: 940px;
        }
    }
    .text-hero {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 875px;
    }
    img {
        left: 115px;
        position: relative;
        z-index: -100;
        object-fit: cover;
        width: 670px;
        height: 850px;
        display: block;
        margin-top: 40px;
        border-radius: 40px 40px 0 0;
        @media screen and (max-width: $breakpoint-md) {
            margin: 0;
            border-radius: 0;
            left: 0;
            width: 100%;
            height: 900px;
        }
    }
    .hero-image-container {
        margin: 0 auto;
        max-width: var($breakpoint-xl);
    }
}
