.more {
    position: relative;
    z-index: 5;
    padding: 60px 0;
    .grid-2 {
        grid-template-columns: 1fr 1.5fr;
        gap: 40px;
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
        }
    }

    ul {
        margin: 20px 0;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.4s $ease-out-expo;
        &:hover {
            scale: 105%;
        }
    }
    .icon {
        width: 24px;
        height: 24px;
        fill: var(--color-white);
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            margin-bottom: 20px;
        }
    }
}
