/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    line-height: 1.6;
    background-color: var(--color-bg-primary);
    p {
        margin: 0;
    }
    a {
        color: var(--color-white);
        font-size: var(--font-size-btn);
        font-weight: bold;
        transition: all 0.4s $ease-out-expo;
    }
    a:hover {
        color: var(--color-primary);
        text-decoration: none;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}
