/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    line-height: 1.6;
    overflow-x: hidden;
    background-color: var(--color-bg-primary);
    p {
        margin: 0;
    }
    a {
        color: var(--color-white);
        font-size: var(--font-size-btn);
        font-weight: bold;
        transition: all 0.4s $ease-out-expo;
    }
    a:hover {
        color: var(--color-primary);
        text-decoration: none;
    }
    button {
        padding: 15px 40px;
        font-size: var(--font-size-btn);
        font-weight: 700;
        border: none;
        background-color: var(--color-primary);
        border-radius: 100px;
        transition: all 0.4s $ease-out-expo;
        text-transform: uppercase;
        &:hover,
        a {
            cursor: pointer;
            background-color: var(--color-secondary-light);
            color: var(--color-white);
        }
    }
    .button {
        padding: 15px 40px;
        background-color: var(--color-primary);
        border-radius: 100px;
        transition: all 0.4s $ease-out-expo;
        text-transform: uppercase;
        &:hover,
        a {
            background-color: var(--color-secondary-light);
            color: var(--color-white);
        }
    }
    .title-red {
        color: var(--color-primary);
    }
    .title-orange {
        color: var(--color-secondary-light);
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}

.app-icon {
    display: flex;
    gap: 20px;
    .icon {
        width: 48px;
        height: 48px;
        fill: var(--color-white);
    }
    .icon-container {
        height: 68px;
        width: 68px;
        padding: 10px;
        background-color: var(--color-secondary);
        border-radius: 100px;
        transition: all 0.4s $ease-out-expo;
        &:hover {
            background-color: var(--color-secondary-light);
        }
    }
}
