{% include '_partials/_header.html' %} {% include '_partials/header.html' %}

<section class="about-hero">
    <div class="hero-image-container">
        <img src="assets/images/adrien-about.webp" alt="bg-hero" />
    </div>
    <div class="wrapper">
        <div class="content">
            <h1 data-scrolly="fromLeft">
                Adrien <br />
                Goupil
            </h1>
            <div class="text-hero">
                <div class="titles">
                    <h2 class="title-red" data-scrolly="fromLeft">Développeur Unity</h2>
                    <h2 class="title-orange" data-scrolly="fromLeft">Créateur de média</h2>
                </div>

                <p data-scrolly="fromLeft">
                    Je suis un étudiant en technique d’intégration multimédia. Je recherche un stage en développement
                    Jeux-vidéo et je planifie aller a l’université en développement de jeux-vidéo.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="background-container about">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background about" />
</div>

<section class="abilities">
    <div class="wrapper">
        <div class="grid-3">
            <div class="list">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <ul>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                        Programmation Unity
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-draw"></use>
                        </svg>
                        Dessin
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-video"></use>
                        </svg>
                        Montage Vidéo
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-sound"></use>
                        </svg>
                        Montage Sonore
                    </li>
                </ul>
            </div>
            <div class="list">
                <h3 data-scrolly="fromLeft">Logiciels/Langages</h3>
                <ul>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-csharp"></use>
                        </svg>
                        Unity C#
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-js"></use>
                        </svg>
                        Javascript
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                        Unity
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-krita"></use>
                        </svg>
                        Krita
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-photoshop"></use>
                        </svg>
                        Photoshop
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-premiere"></use>
                        </svg>
                        Premiere pro
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-reaper"></use>
                        </svg>
                        Reaper
                    </li>
                </ul>
            </div>
            <div class="list">
                <h3 data-scrolly="fromLeft">Qualités</h3>
                <ul>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-fast"></use>
                        </svg>
                        Rapide
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-detail"></use>
                        </svg>
                        Souci du détail
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-think"></use>
                        </svg>
                        Créativité
                    </li>
                    <li data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-check"></use>
                        </svg>
                        Compréhensif
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="more">
    <div class="wrapper">
        <div class="grid-2">
            <div class="content">
                <h2 data-scrolly="fromLeft">Mes intérêts et passions</h2>
                <ul>
                    <li data-scrolly="fromLeft">Jeux Vidéo</li>
                    <li data-scrolly="fromLeft">Dessin</li>
                    <li data-scrolly="fromLeft">Anime et manga</li>
                    <li data-scrolly="fromLeft">Montage vidéo et sonore</li>
                    <li data-scrolly="fromLeft">Programmation</li>
                </ul>
            </div>
            <div class="media">
                <div class="video" data-component="Youtube" data-video-id="D_0T4ubLb2U" data-scrolly="fromLeft">
                    <div class="video__media js-video">
                        <img class="js-poster" src="assets/images/video_thumb.jpg" alt="video" />
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
