{% include '_partials/_header.html' %} {% include '_partials/header.html' %}

<section class="hero">
    <div class="media">
        <video src="assets/videos/demo_reel.mp4" autoplay muted preload="auto" loop>
            <source src="assets/videos/demo_reel.webm" type="video/webm" />
        </video>
    </div>
    <div class="wrapper">
        <div class="content">
            <h1 data-scrolly="fromBottom">Adrien Goupil</h1>
            <a class="button" href="project-list.html" data-scrolly="fromBottom">Voir mes projets</a>
        </div>
    </div>
</section>

<div class="background-container index">
    <img src="assets/images/circle-bg-hero.svg" alt="cercle-bg" class="background index" data-scrolly="fromLeft" />
</div>

<section class="presentation">
    <div class="wrapper">
        <h1 data-scrolly="fromLeft">Je suis</h1>
        <h2 data-scrolly="fromLeft">Un <span class="title-red">Développeur Unity</span></h2>
        <h2 data-scrolly="fromLeft">Et <span class="title-orange">Créateur de Média</span></h2>
    </div>
</section>

<section class="contact" id="contact">
    <div class="wrapper">
        <h1 data-scrolly="fromLeft">Me contacter</h1>
        <div class="info">
            <h3 data-scrolly="fromLeft"><a href="mailto:adrienr.goupil@gmail.com">adrienr.goupil@gmail.com</a></h3>
            <h3 data-scrolly="fromLeft">(438) 820-8853</h3>
            <a class="button" href="#" data-scrolly="fromLeft">Voir mon CV</a>
        </div>

        <div class="form">
            <form action="" class="form" autocomplete="off" data-component="Form">
                <div class="form__body">
                    <fieldset>
                        <div class="input" data-scrolly="fromLeft">
                            <label class="input__label" for="fullname">Votre nom</label>
                            <input
                                class="input__element"
                                type="text"
                                name="fullname"
                                id="fullname"
                                placeholder="ex.: John Multimédia"
                                required
                            />
                        </div>

                        <div class="input" data-scrolly="fromLeft">
                            <label class="input__label" for="email">Courriel</label>
                            <input
                                class="input__element"
                                type="email"
                                name="email"
                                id="email"
                                placeholder="ex.: john.multimedia@gmail.com"
                                required
                            />
                        </div>

                        <div class="input textarea" data-scrolly="fromLeft">
                            <label class="input__label" for="comment">Message</label>
                            <textarea
                                class="input__element text_input"
                                name="comment"
                                placeholder="ex.: Yo ton portfolio est vraiment bussin'!"
                                id="comment"
                                required
                            ></textarea>
                        </div>
                    </fieldset>
                    <footer class="form__footer" data-scrolly="fromLeft">
                        <button class="button">Envoyer</button>
                    </footer>
                </div>

                <div class="form__confirmation" data-scrolly="fromLeft">
                    <h4>Votre message a été envoyé</h4>
                </div>
            </form>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
