{% include '_partials/_header.html' %} {% include '_partials/header.html' %}

<section class="hero">
    <img src="assets/images/temp.jpg" alt="bg-hero" />
    <div class="wrapper">
        <div class="content">
            <h1 data-scrolly="fromBottom">Adrien Goupil</h1>
            <a class="button" href="project-list.html" data-scrolly="fromBottom">Voir mes projets</a>
        </div>
    </div>
</section>

<div class="background-container index">
    <img src="assets/images/circle-bg-hero.svg" alt="cercle-bg" class="background index" data-scrolly="fromLeft" />
</div>

<section class="presentation">
    <div class="wrapper">
        <h1 data-scrolly="fromRight">Je suis</h1>
        <h2 data-scrolly="fromRight">Un <span class="title-red">Développeur Unity</span></h2>
        <h2 data-scrolly="fromRight">Et <span class="title-orange">Créateur de Média</span></h2>
    </div>
</section>

<section class="contact">
    <div class="wrapper">
        <h1 data-scrolly="fromLeft">Me contacter</h1>
        <div class="info">
            <h3 data-scrolly="fromLeft"><a href="mailto:adrienr.goupil@gmail.com">adrienr.goupil@gmail.com</a></h3>
            <h3 data-scrolly="fromLeft">(438) 820-8853</h3>
            <a class="button" href="#" data-scrolly="fromLeft">Voir mon CV</a>
        </div>

        <div class="form">
            <h3 data-scrolly="fromLeft">Nom</h3>
            <h3 data-scrolly="fromLeft">Adresse Courriel</h3>
            <h3 data-scrolly="fromLeft">Message</h3>
            <a class="button" href="#" data-scrolly="fromLeft">Envoyer</a>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
