{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/neco.png" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">
            L'attaque <br />
            de Neco
        </h1>
        <h3 data-scrolly="fromLeft">Projet étudiant</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet d'animation 3D</h2>
                <p data-scrolly="fromLeft">
                    Animation 3D d’un combat entre deux personnages. Le projet utilise le “grease pencil” pour les
                    effets spéciaux. Projet réalisé dans le cadre du cours d'animation multimédia du cégep Édouard
                    Mont-petit. Le projet a été éffectué en collaboration avec Mathis Tousignant.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-blender"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-aftereffects"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                        <li data-scrolly="fromLeft">Mathis Tousignant</li>
                    </ul>

                    <h4 data-scrolly="fromLeft">Assets et textures:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">
                            <a>Modèle de Neco Arc par Mathis Tousignant</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Modèle de Joof par Adrien Goupil</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Environement par Mathis Tousignant</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Textures par Adrien Goupil</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Animation par Adrien Goupil et Mathis Tousignant</a>
                        </li>
                    </ul>
                </div>

                <a
                    href="https://www.youtube.com/watch?v=KNl3_ROFsUc"
                    target="_blank"
                    class="button"
                    data-scrolly="fromLeft"
                    >Voir la vidéo</a
                >
            </div>
        </div>
    </div>
</section>
<section class="project-section-2">
    <div class="wrapper">
        <div class="video" data-component="Youtube" data-video-id="KNl3_ROFsUc" data-scrolly="fromLeft">
            <div class="video__media js-video">
                <img class="js-poster" src="assets/images/neco.png" alt="video" />
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <div class="swiper" data-component="Carousel" data-scrolly="fromLeft">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/neco_joof.png" alt="joof1" /></div>
                <div class="swiper-slide"><img src="assets/images/neco_joof2.png" alt="joof2" /></div>
                <div class="swiper-slide">
                    <img src="assets/images/neco_joof3.png" alt="joof3" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Il y a eu plusieurs défis dans la réalisation de ce projet. Premièrement, moi et mon coéquipier Mathis
                ont eu besoin de s'habituer au travail d'équipe en animation 3D. Pour ne pas avoir de problèmes, nous
                avons tous les deux travaillé dans des fichier blender différent pour modéliser nos personnages. Ensuite
                nous avons ajouté les personnages dans une scène et après nous avons commencé l'animation des
                personnages.
            </p>
            <p data-scrolly="fromLeft">
                Pour éviter un rendu trop long, nous avons décidé d'utiliser le mode de rendu EEVEE car nous décidé
                d'aller pour un style plus cartoon/anime. Cependant, un problème s'est posé pendent le rendu final, le
                grease pencil s'est rajouté par-dessus les autres objets, et nous n'avions plus assez de temp pour
                trouver une solution au problème.
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
