{% include '_partials/_header.html' %} {% include '_partials/header.html' %}

<section class="hero hero-small">
    <div class="media">
        <video src="assets/videos/demo_reel.webm" autoplay muted preload="auto" loop>
            <source src="assets/videos/demo_reel.webm" type="video/webm" />
        </video>
    </div>
</section>

<div class="background-container list-bg">
    <img src="assets/images/circle-bg-project-list.svg" alt="cercle-bg" class="background" />
</div>

<div class="background-container list-bg-dark">
    <img src="assets/images/circle-bg-project-list-dark.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-list">
    <div class="wrapper">
        <h1 data-scrolly="fromLeft">Mes Projets</h1>
        <div class="cards">
            <div class="card grid-2">
                <div class="media">
                    <img src="assets/images/soul-switch1.jpg" alt="soulswitch" data-scrolly="fromLeft" />
                </div>
                <div class="content">
                    <h2 data-scrolly="fromLeft">SOUL SWITCH</h2>
                    <div class="app-icon">
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-vscode"></use>
                            </svg>
                        </div>
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-unity"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 data-scrolly="fromLeft">Projet Personnel</h3>
                    <p data-scrolly="fromLeft">
                        Un jeu de puzzle ou que l’on doit changer de personnage pour résoudre des énigmes.
                    </p>
                    <a href="project-soul.html" class="button" data-scrolly="fromLeft">Voir plus</a>
                </div>
            </div>
            <div class="card grid-2 reverse">
                <div class="content">
                    <h2 data-scrolly="fromLeft">Fille dans un tuyau</h2>
                    <div class="app-icon">
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-krita"></use>
                            </svg>
                        </div>
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-photoshop"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 data-scrolly="fromLeft">Projet Personnel</h3>
                    <p data-scrolly="fromLeft">
                        Dessin d’une fille au cheveux court dans un tuyau pendent un couché de soleil.
                    </p>
                    <a href="project-tuyau.html" class="button" data-scrolly="fromLeft">Voir plus</a>
                </div>
                <div class="media" data-scrolly="fromLeft">
                    <img src="assets/images/girl_tube1.png" alt="girltube" />
                </div>
            </div>
            <div class="card grid-2">
                <div class="media" data-scrolly="fromLeft">
                    <img src="assets/images/temp.jpg" alt="Neco" />
                </div>
                <div class="content">
                    <h2 data-scrolly="fromLeft">L’Attaque de Neco</h2>
                    <div class="app-icon">
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-blender"></use>
                            </svg>
                        </div>
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-aftereffects"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 data-scrolly="fromLeft">Projet Étudiant</h3>
                    <p data-scrolly="fromLeft">
                        Animation 3D d’un combat entre deux personnages. Le projet utilise le “grease pencil” pour les
                        effets spéciaux.
                    </p>
                    <a href="project-neco.html" class="button" data-scrolly="fromLeft">Voir plus</a>
                </div>
            </div>
            <div class="card grid-2 reverse">
                <div class="content">
                    <h2 data-scrolly="fromLeft">TIM SLAYER</h2>
                    <div class="app-icon">
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-vscode"></use>
                            </svg>
                        </div>
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-unity"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 data-scrolly="fromLeft">Projet Étudiant</h3>
                    <p data-scrolly="fromLeft">
                        Un "First Person Shooter" où l'on élimine des robots zombies dans une ville nommée par le
                        joueur, récupérant des objets pour améliorer la vitesse de tir.
                    </p>
                    <a href="project-timslayer.html" class="button" data-scrolly="fromLeft">Voir plus</a>
                </div>
                <div class="media" data-scrolly="fromLeft">
                    <img src="assets/images/tim-slayer-vignette.jpg" alt="soulswitch" />
                </div>
            </div>
            <div class="card grid-2">
                <div class="media" data-scrolly="fromLeft">
                    <img src="assets/images/kung-fu-hustle1.jpg" alt="kung-fu Hustle" />
                </div>
                <div class="content">
                    <h2 data-scrolly="fromLeft">Bande annonce fictive “Kung-Fu Hustle”</h2>
                    <div class="app-icon">
                        <div class="icon-container" data-scrolly="fromLeft">
                            <svg class="icon">
                                <use xlink:href="#icon-premiere"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 data-scrolly="fromLeft">Projet Étudiant</h3>
                    <p data-scrolly="fromLeft">
                        Bande annonce fictive du film Kung-Fu Hustle (2004) avec la trame sonore du film Noé (2014).
                    </p>
                    <a href="project-kungfu.html" class="button" data-scrolly="fromLeft">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
