{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/girl_tube1.png" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">
            FILLE DANS <br />
            UN TUYAU
        </h1>
        <h3 data-scrolly="fromLeft">Projet Personnel</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet Unity</h2>
                <p data-scrolly="fromLeft">
                    Illustration d’une fille aux cheveux court dans un tuyau lors d'un couché de soleil. Cette
                    illustration a été finalisé le 11 Aout 2024. L'illustration a été réalisé en approximativement 15-20
                    heures. Les retouches finales ont été éffectué avec photoshop.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-krita"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-photoshop"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                    </ul>
                </div>

                <a href="assets/images/girl_tube1.png" target="_blank" class="button" data-scrolly="fromLeft"
                    >Voir l'illustration</a
                >
            </div>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <div class="swiper full" data-component="Carousel" data-scrolly="fromLeft">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/girl_tube_sketch.png" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/girl_tube_line.png" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/girl_tube_bg.png" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/girl_tube_color.png" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/girl_tube1.png" alt="imgtimslayer" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Plusieurs défis ont été rencontré lors de la réalisation de cette illustration. Les deux défis
                principaux que j'ai rencontrés sont la pose et l'arrière-plan compliqué. Je ne suis pas encore très bon
                à dessiner des arrières plans compliqué donc ce fut un défi de faire que l'arrière-plan soit beau. Ce
                fut aussi un défi de s'assurer que les couleurs et le contraste soit bien fait.
            </p>
            <p data-scrolly="fromLeft">
                Pour la pose, le personnage a une pose dynamique avec un angle compliqué à dessiner, donc ce fut
                compliqué à s'assurer que les proportions du personnage soient bonne, ce qui a donné que j'ai dû
                redessiner plusieurs fois certaines parties du corps.
            </p>
            <p data-scrolly="fromLeft">
                Je suis assez fier de ce dessin considérant que j'ai passé 15-20 heures sur cette illustration et que
                j'ai beaucoup appris lors de la réalisation de ce dessin.
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
