{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/journey-end-final.jpg" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">
            La fin <br />
            d'une aventure
        </h1>
        <h3 data-scrolly="fromLeft">Projet Personnel</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet d'illustration</h2>
                <p data-scrolly="fromLeft">
                    Illustration d’une fille aux cheveux court et d'un chateau volant lointain lors d'un couché de
                    soleil. Cette illustration provient d'une idée de jeu que j'ai eu. Cette illustration a été finalisé
                    le 8 Novembre 2024. L'illustration a été réalisé en approximativement 20-25 heures. Les retouches
                    finales ont été éffectué avec photoshop.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-krita"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-photoshop"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                    </ul>
                </div>

                <a href="assets/images/journey-end-final.jpg" target="_blank" class="button" data-scrolly="fromLeft"
                    >Voir l'illustration</a
                >
            </div>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <h3>Concept art</h3>
        <img src="assets/images/journey_concept.png" alt="imgtimslayer" />
        <h3>Galerie</h3>
        <div class="swiper full" data-component="Carousel" data-scrolly="fromLeft" data-slides="2">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/journey_wip.jpg" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/journey_wip2.jpg" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/journey_wip3.jpg" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/journey-end-final.jpg" alt="imgtimslayer" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Plusieurs défis ont été rencontré lors de la réalisation de cette illustration. Les deux défis
                principaux que j'ai rencontrés sont la pose et l'arrière-plan compliqué. Je ne suis pas encore très bon
                à dessiner des arrières plans compliqué donc ce fut un défi de faire que l'arrière-plan soit beau. Ce
                fut aussi un défi de s'assurer que les couleurs et le contraste soit bien fait.
            </p>
            <p data-scrolly="fromLeft">
                Le cadrage de l'œuvre a été difficile à faire, car a l'origine, le personnage était plus petit pour
                pouvoir bien voir le château, mais plus tard j'ai réalisé que le cadrage ne fonctionnait pas vraiment
                donc j'ai rapproché le personnage de l'écran.
            </p>
            <p data-scrolly="fromLeft">
                Je suis assez fier de ce dessin considérant que j'ai passé 15-20 heures sur cette illustration et que
                j'ai beaucoup appris lors de la réalisation de ce dessin. Je suis surtout fier de l'arrière-plan qui
                m'as pris au moins 7 heures.
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
