{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/soul-switch1.jpg" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">Changement de personnage</h1>
        <h3 data-scrolly="fromLeft">Projet étudiant</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet Unity</h2>
                <p data-scrolly="fromLeft">
                    Script de changement de personnage pour un idée de jeu qui n'est pas encore terminé. Le script cycle
                    à travers les joueurs et échange les contrôles lorsqu'on appui sur la souris.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Programmation et réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                    </ul>
                </div>

                <a
                    href="https://rhadish.itch.io/soul-switch-prototype"
                    target="_blank"
                    class="button"
                    data-scrolly="fromLeft"
                    >Démo du script</a
                >
            </div>
        </div>
    </div>
</section>
<section class="project-section-2">
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Extraits de code</h3>
        <div class="cards grid-3">
            <a href="assets/images/soul-move.png" class="card">
                <p data-scrolly="fromLeft">Script pour le mouvement isométrique</p>
                <img src="assets/images/soul-move.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
            <a href="assets/images/soul-switch.png" class="card">
                <p data-scrolly="fromLeft">Script pour le changement de personnage</p>
                <img src="assets/images/soul-switch.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
            <a href="assets/images/soul-camera.png" class="card">
                <p data-scrolly="fromLeft">Script pour le changement de caméra</p>
                <img src="assets/images/soul-camera.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Le script de changement de personnage a été un défi à créer. Le premier problème rencontré était comment
                trouver les joueurs. Pour régler le problème j'ai décidé de donner les Game Objects en référence et de
                vérifier combien de joueurs sont assigné pour ne pas causer d'erreurs.
            </p>
            <p>
                Le deuxième problème a été de faire marcher le script peut-importe quel joueur est jouable. Au début le
                script ne fonctionnait qu'avec deux joueurs, mais lorsque j'ai ajouté un autre joueur j'ai dû revoir la
                manière que j'avais fait le script. Le script se trouve sur un Game Object vide qui contrôle le
                changement de personnage
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
