{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/ko_media_banniere.jpg" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">KO-Média</h1>
        <h3 data-scrolly="fromLeft">Projet étudiant</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet Unity</h2>
                <p data-scrolly="fromLeft">
                    Projet réalisé dans le cadre du cours de production intéractif. Venez vous battre pour la gloire le 10 décembre prochain avec KO-Média! Vous incarnerez un de nos deux robots combattants, Lil Joe et Bob, pour déterminer qui sera le grand champion de KO-Média. Vous visiterez un monde futuriste peuplé de robots où la boxe est l’attraction principale.
                </p>
                <p>
                    KO-Média est plus qu'un simple jeu de boxe en réalité virtuelle, c'est une expérience interactive inoubliable dans laquelle vous devrez tenter de mettre votre adversaire hors d’état de nuire tout en évitant les coups de l’autre combattant. De plus, votre coach devra affronter le coach adverse dans un concours de rapidité qui donnera un avantage considérable et changera le cours de la partie!
                </p>
                <p>
                    KO-Média a aussi reçu le prix de meilleur direction Technique de l'événement Chaos Média 2024.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-krita"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-photoshop"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Programmeur Unity</h4>
                    <ul>
                        <li data-scrolly="fromLeft"><a href="https://fredauger.com/">Fred-Eric Auger</a></li>
                    </ul>
                    <h4 data-scrolly="fromLeft">Technicien audiovisuel / Logistique</h4>
                    <ul>
                        <li data-scrolly="fromLeft"><a href="https://nrpelletier.ca">Nicolas Pelletier</a></li>
                    </ul>
                    <h4 data-scrolly="fromLeft">Illustrateur conceptuel / Programmeur Unity</h4>
                    <ul>
                        <li data-scrolly="fromLeft"> <a href="https://agoupil.dectim.ca/">Adrien Goupil</a></li>
                    </ul>
                    <h4 data-scrolly="fromLeft">Designer graphique / Logistique</h4>
                    <ul>
                        <li data-scrolly="fromLeft"><a href=""></a>Hans Ritter-San Martin</li>
                    </ul>
                    <h4 data-scrolly="fromLeft">Logistique / Scénographe / Animateur</h4>
                    <ul>
                        <li data-scrolly="fromLeft"><a href="http://guillaumelanglois.ca/">Guillaume Langlois</a></li>
                    </ul>
                    <h4 data-scrolly="fromLeft">Modélisateur 3D</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Xavier Carle</li>
                    </ul>

                <a href="#" target="_blank" class="button" data-scrolly="fromLeft"
                    >Voir le making of</a
                >
            </div>
        </div>
    </div>
</section>
<section class="project-section-2">
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Extraits de code</h3>
        <div class="cards grid-3">
            <a href="assets/images/ko_media_velocity.png" target="_blank" class="card">
                <p data-scrolly="fromLeft">Script pour la détection des coups</p>
                <img src="assets/images/ko_media_velocity.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
            <a href="assets/images/ko_media_powerup.png" target="_blank" class="card">
                <p data-scrolly="fromLeft">Script pour les pouvoirs</p>
                <img src="assets/images/ko_media_powerup.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
            <a href="assets/images/ko_media_button.png" target="_blank" class="card">
                <p data-scrolly="fromLeft">Script pour le stand de bouton</p>
                <img src="assets/images/ko_media_button.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <div class="swiper" data-component="Carousel" data-scrolly="fromLeft">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/ko_media_4.jpg" alt="imgkomedia" /></div>
                <div class="swiper-slide"><img src="assets/images/ko_media_7.png" alt="imgkomedia" /></div>
                <div class="swiper-slide">
                    <img src="assets/images/ko_media_5.png" alt="imgkomedia" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/ko_media_6.png" alt="imgkomedia" />
                </div>
                <div class="swiper-slide"><img src="assets/images/ko_media_1.jpg" alt="imgkomedia" /></div>
                <div class="swiper-slide">
                    <img src="assets/images/ko_media_2.jpg" alt="imgkomedia" />
                </div>
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Ce projet a été troublé de plusieurs problèmes et de défis. Un de ces problèmes était d'obliger les joueurs à
                frapper avec une certaine force pour que le coup fonctionne. J'ai cherché pendant plusieurs heures pour trouver
                une solution à ce problème. J'ai premièrement essayé de vérifier la vélocité du Game Object, mais cela ne
                fonctionnait pas. J'ai ensuite essayé de prendre la vélocité des manettes VR, mais ceci ne marchait toujours
                pas. La solution finale a été de simplement vérifier si la distance entre le poing entre 2 frames est plus
                grande qu'un certain nombre.
            </p>
            <p data-scrolly="fromLeft">
                Il y a aussi eu plusieurs défis avec la scénographie et la logistique. Nous voulions avoir un jumbotron accroché au plafond pour simuler un vrai stade de boxe. Ça l'a été difficile de planifier comment construire le jumbotron, ou le placer et comment placer les projecteurs.            </p>
            <p data-scrolly="fromLeft">
                Cependant le plus gros problème que ce projet nous a causé a été le multijoueur. Nous avons passé environ 2 semaines à trouver une solution au problème. Le problème était entre autres lié avec les restrictions placés sur les ordinateurs du cégep qui nous empêchait de jouer a des jeux multijoueur. Il y a aussi eu des problème de latence entre les deux joueurs qui était principalement causé parce que le serveur par défaut choisi était un serveur d’Asie. Malgré ces problèmes l'évènement Chaos Média c'est assez bien déroulé et nous avons gagné le prix de meilleur direction technique.            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
