{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <img src="assets/images/timslayer-hero.jpg" alt="hero" />
    <div class="wrapper">
        <a href="project-list.html">&#60; Retour vers la liste de projet</a>
        <h1>
            TIM <br />
            SLAYER
        </h1>
        <h3>Projet étudiant</h3>
    </div>
</section>
<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2>Projet Unity</h2>
                <p>
                    Projet réalisé dans le cadre du cours de jeu vidéo 2. Le jeu est un "First Person Shooter" où l'on
                    doit éliminer des robots zombies envahissant une ville que l'on peut nommer. On peut récupérer des
                    objets et les déposer dans une zone de collection pour améliorer la vitesse de tir. <br />
                    Réalisé en Hiver 2023 dans le cours de jeu-vidéo 2 au Cégep Édouard-Montpetit. Le projet utilise le
                    logiciel Unity et est programmé en C# avec VS Code. Le projet utilise des fonctionnalités comme le
                    système de particule, le système d’animation, le NavMesh, le système d’audio Unity. Le logiciel
                    github desktop a été utilisé pour l’archivage du projet.
                </p>
            </div>
            <div class="side">
                <h3>Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container">
                        <svg class="icon">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    </div>
                    <div class="icon-container">
                        <svg class="icon">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                    </div>
                </div>
                <p>Programmation et réalisation: Adrien Goupil</p>
                <p>Assets et textures: Unity asset store (retrouver les sources)</p>
                <a href="#" class="button">Jouer au jeu</a>
            </div>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
