{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/webjam-1.jpg" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">
            WEBJAM<br />
            2024
        </h1>
        <h3 data-scrolly="fromLeft">Projet étudiant</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet de développement web</h2>
                <p data-scrolly="fromLeft">
                    Projet réalisé dans le cadre du cours de production web au cégep Édouard-Montpetit. Le projet a été
                    réalisé en équipe de 4. Le but du webjam était de créer un site web qui correspond au thème demandé.
                    Des récits utilisateurs ont été fournis pour savoir quel contenu que le site devrait avoir.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-figma"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-wordpress"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                        <li data-scrolly="fromLeft">Alex Théodorakakos</li>
                        <li data-scrolly="fromLeft">Simon Larocque</li>
                        <li data-scrolly="fromLeft">Hans Ritter-San Martin</li>
                    </ul>

                    <h4 data-scrolly="fromLeft">Crédits:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">
                            <a>Design - Simon, Alex, Adrien et Hans</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Intégration web - Adrien, Alex, Hans, Simon</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Programmation PHP - Alex, Hans, Adrien</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Génération de contenu - Simon, Hans</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a>Assurance qualité - Adrien, Hans, Simon</a>
                        </li>
                    </ul>
                </div>

                <a
                    href="https://atheodorakakos.dectim.ca/webjam/"
                    target="_blank"
                    class="button"
                    data-scrolly="fromLeft"
                    >Voir le site</a
                >
            </div>
        </div>
    </div>
</section>
<section class="project-section-2">
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Extraits de code</h3>
        <div class="cards grid-3">
            <a href="assets/images/webjam-css1.png" target="_blank" class="card">
                <p data-scrolly="fromLeft">Composante Header css</p>
                <img src="assets/images/webjam-css1.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
            <a href="assets/images/webjam-php1.png" target="_blank" class="card">
                <p data-scrolly="fromLeft">Page d'accueil php</p>
                <img src="assets/images/webjam-php1.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
            <a href="assets/images/webjam-php2.png" target="_blank" class="card">
                <p data-scrolly="fromLeft">Page d'articles php</p>
                <img src="assets/images/webjam-php2.png" alt="extrait de code" data-scrolly="fromLeft" />
            </a>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <div class="swiper" data-component="Carousel" data-scrolly="fromLeft">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/webjam-1.jpg" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/webjam-acf.png" alt="imgtimslayer" /></div>
                <div class="swiper-slide">
                    <img src="assets/images/webjam-page.png" alt="imgtimslayer" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Nous avons eu plusieurs défis pendent le webjam. Le premier défi rencontré était le design. Nous avions
                travaillé pendant 3 heures sur le design sans avoir de direction artistique et en se focussant seulement
                sur les maquettes. Le processus de maquettage faisait que nous étions derrière les autres équipes.
                Heureusement que Alex proposa une palette de couleur néon/cyberpunk inspiré d'images générés par IA par
                Hans plus tôt. Cette direction artistique nous redonna confiance et une vision de quoi faire pour le
                design.
            </p>
            <p data-scrolly="fromLeft">
                L'autre gros problème rencontré est le responsive qui ne fonctionne pas bien suite à l'intégration de
                nouveaux éléments dans certaines pages et de formatage d'images de WordPress. Malheureusement nous
                n'avons pas eux le temp de régler le problème avant la présentation du site web.
            </p>
            <p data-scrolly="fromLeft">
                Le dernier défis rencontré, et le plus gros était une erreur de page d'articles personnalisé. Nous avons
                passé 1-2 heures à se gratter la tête pour essayer de trouver le problème. Finalement nous avons demandé
                de l'aide à l'enseignant. Le problème n'était pas si compliqué au final. Il s'agissait d'un problème du
                nom des liens de pages et le nom des articles personnalisé qui étaient les mêmes.
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
