{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/soul-switch1.jpg" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">
            SOUL <br />
            SWITCH
        </h1>
        <h3 data-scrolly="fromLeft">Projet étudiant</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet Unity</h2>
                <p data-scrolly="fromLeft">
                    Script de changement de personnage pour un idée de jeu qui n'est pas encore terminé. Le script cycle
                    à travers les joueurs et échange les contrôles lorsqu'on appui sur la souris.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    </div>
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Programmation et réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                    </ul>
                </div>

                <a href="https://rhadish.itch.io/tim-slayer" target="_blank" class="button" data-scrolly="fromLeft"
                    >Démo du script</a
                >
            </div>
        </div>
    </div>
</section>
<section class="project-section-2">
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Extraits de code</h3>
        <div class="cards grid-3">
            <div class="card">
                <p data-scrolly="fromLeft">Script pour le menu du jeu</p>
                <img src="assets/images/tim-slayer-code-menu.png" alt="extrait de code" data-scrolly="fromLeft" />
            </div>
            <div class="card">
                <p data-scrolly="fromLeft">Script pour le systeme de tir</p>
                <img src="assets/images/tim-slayer-code-tir.png" alt="extrait de code" data-scrolly="fromLeft" />
            </div>
            <div class="card">
                <p data-scrolly="fromLeft">Script pour le projectile</p>
                <img src="assets/images/tim-slayer-code-projectile.png" alt="extrait de code" data-scrolly="fromLeft" />
            </div>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <div class="swiper" data-component="Carousel" data-scrolly="fromLeft">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/tim-slayer1.jpg" alt="imgtimslayer" /></div>
                <div class="swiper-slide"><img src="assets/images/tim-slayer2.jpg" alt="imgtimslayer" /></div>
                <div class="swiper-slide">
                    <img src="assets/images/tim-slayer-organisation1.jpg" alt="imgtimslayer" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                J’ai eu plusieurs problèmes lors de la réalisation de ce projet. Le plus gros d’entre eux était que je
                n’étais pas capable de tester mon jeu à la maison. J’ai rencontré un problème étrange dont je n’ai
                jamais su la cause qui empêchait le player input de marcher. Le plus étrange est que le projet marchait
                parfaitement sur les ordis d’écoles.
            </p>
            <p data-scrolly="fromLeft">
                L’autre gros problème était que le saut du personnage ne marche pas toujours. Le mesh du terrain que
                j’ai utilisé n’était pas bien optimisé pour le mouvement du personnage de mon jeu ce qui empêchait le
                joueur d’être dans l’état “Grounded”.
            </p>
            <p data-scrolly="fromLeft">
                Le dernier défis rencontré est que nous n’avions pas encore eu de cours de modélisation 3D et que les
                assets que j’ai trouvés sur le Unity asset store n’était pas exactement les meilleurs, ce qui donne un
                résultat peu plaisant pour les yeux. Malgré cela je suis quand même fier de mon script de tir que j’ai
                codé par moi-même avec ce que j’ai appris pendent le cours.
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
