{% include '_partials/_header.html' %} {% include '_partials/header.html' %}
<section class="hero hero-small">
    <div class="media">
        <img src="assets/images/kung-fu-hustle1.jpg" alt="hero" />
    </div>

    <div class="wrapper">
        <a href="project-list.html" class="button" data-scrolly="fromLeft">&#60; Retour vers la liste de projet</a>

        <h1 data-scrolly="fromLeft">Bande annonce Kung-Fu Hustle</h1>
        <h3 data-scrolly="fromLeft">Projet étudiant</h3>
    </div>
</section>

<div class="background-container project">
    <img src="assets/images/circle-bg-about-hero.svg" alt="cercle-bg" class="background" />
</div>

<section class="project-description">
    <div class="wrapper">
        <div class="grid-2">
            <div class="description">
                <h2 data-scrolly="fromLeft">Projet de montage vidéo</h2>
                <p data-scrolly="fromLeft">
                    Bande annonce fictive du film Kung-Fu Hustle (2004) avec la trame sonore du film Noé (2014). Projet
                    réalisé dans le cours de réalisation vidéo au Cégep Édouard-Montpetit.
                </p>
            </div>
            <div class="side">
                <h3 data-scrolly="fromLeft">Compétences</h3>
                <div class="app-icon">
                    <div class="icon-container" data-scrolly="fromLeft">
                        <svg class="icon">
                            <use xlink:href="#icon-premiere"></use>
                        </svg>
                    </div>
                </div>
                <div class="credits">
                    <h4 data-scrolly="fromLeft">Réalisation:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">Adrien Goupil</li>
                    </ul>

                    <h4 data-scrolly="fromLeft">Crédits:</h4>
                    <ul>
                        <li data-scrolly="fromLeft">
                            <a href="https://www.imdb.com/title/tt0373074/">Kung-Fu Hustle par Stephen Chow</a>
                        </li>
                        <li data-scrolly="fromLeft">
                            <a href="https://www.imdb.com/title/tt1959490/">Noé par Darren Aronofsky</a>
                        </li>
                    </ul>
                </div>

                <a href="https://youtu.be/M3gGntTft1s" target="_blank" class="button" data-scrolly="fromLeft"
                    >Voir la vidéo</a
                >
            </div>
        </div>
    </div>
</section>
<section class="project-section-2">
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Captures d'écrans</h3>
        <div class="cards grid-2">
            <div class="card">
                <p data-scrolly="fromLeft">Script pour le menu du jeu</p>
                <img src="assets/images/tim-slayer-code-menu.png" alt="extrait de code" data-scrolly="fromLeft" />
            </div>
            <div class="card">
                <p data-scrolly="fromLeft">Script pour le systeme de tir</p>
                <img src="assets/images/tim-slayer-code-tir.png" alt="extrait de code" data-scrolly="fromLeft" />
            </div>
        </div>
    </div>
</section>

<section class="galerie">
    <div class="wrapper">
        <div class="video" data-component="Youtube" data-video-id="M3gGntTft1s" data-scrolly="fromLeft">
            <div class="video__media js-video">
                <img class="js-poster" src="assets/images/kung-fu-hustle1.jpg" alt="video" />
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="project-section-3">
    <div class="wrapper">
        <div class="section-text">
            <h3 data-scrolly="fromLeft">Problèmes et défis</h3>
            <p data-scrolly="fromLeft">
                Plusieurs défis se sont présentés lors de la réalisation de ce projet. Premièrement, trouver une façon
                de télécharger le film a été assez long et compliqué, et la version que j'ai trouvée n'est pas de très
                haute qualité.
            </p>
            <p data-scrolly="fromLeft">
                Le deuxième problème qui s'est présenté était de faire fonctionner l'histoire raconté dans les
                tramessonores de bandes annonces fournies avec l'absurdité de Kung-Fu Hustle. Je trouve que le résultat
                finalest assez bon.
            </p>
            <p data-scrolly="fromLeft">
                Le dernier problème qui s'est présenté est la synchronisation des voix. Kung-Fu Hustle contient peu de
                personnage féminin important contrairement à la bande annonce choisi qui contient plusieurs lignes de
                personnage féminin. J'ai dû chercher longtemps pour choisir des scènes qui contenaient un personnage
                féminin qui fonctionnerait avec la voix.
            </p>
        </div>
    </div>
</section>
{% include '_partials/footer.html' %} {% include '_partials/_footer.html' %}
